html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

html, body {
    font-size: 15px;
    line-height: 1.5;
}

body {
    margin: 0;
    display: block;
    color: #000;
    background-color: #f1f1f1;
}

div {
    display: block;
}

.sub-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    max-width: 1400px;
}

.grid {
    padding: 0 8px;
}

.left-column {
    width: 33.33%;
    float: left;
}

.right-column {
    width: 66.66%;
    float: left;
}

.content-left-column {
    color: #757575;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}